@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
}
html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #F2F2F2;
    font-family: 'Times New Roman', Times, serif;
}

header {
    z-index: 1000;
    width: 100%;
    height: 150px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: cen;
    align-items: center;
    padding: 10px 100px;
    gap: 80px;
    position: fixed;
    top: 0;
    left: 0;

}

.logo {
    height: 150px;
    width: 200px;
    display: flex;
    align-items: center;
}

/*------ MENU --------*/
.Pesquisa {
    border: 2px solid black;
    height: 50px;
    width: 300px;
    border-radius: 20px;
}

.Pesquisa img {
    width: 30px;
    height: 30px;
    margin-top: 7px;
    margin-left: 4px;



}

.menu {
    width: 600px;


}

.menu ul {
    display: flex;

}

.menu ul li a {
    padding: 10px 12px;
    color: #0D0D0D;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;



}

.menu ul li a:hover {
    color: transparent;
    color: #F20505;
}

.logo img {
    height: 130px;
    margin-right: 20px;
}

.logo h1 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #F2F2F2;

    font-family: "Stick No Bills", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #0D0D0D;
}

/*--------home--------*/
.LINHA {

    width: 100%;
    height: 100vh;
    background-image: url(Cardapio/hamburgueres-e-batatas-fritas-com-cerveja-e-copy-space.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 200PX;
}

.Design {
    justify-content: center;
    height: 300px;
    width: 300px;
    background-color: #F2F2F2;
    border-radius: 10px;
    align-items: center;
    margin-left: 35%;
    margin-top: 2%;
}
.card img :hover{
    color:transparent;

}
.Linha1 {

    width: 100%;
    height: 100vh;
    background-image: url(Cardapio/prato-com-batatas-fritas-e-frango.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;

}

.LINHA h1 {
    padding-top: 60px;
    color:#F2F2F2;
    font-size: 70PX;
    justify-content: center;
    text-align: center;

    font-family: "Stick No Bills", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.Linha2 {
    width: 100%;
    height: 100vh;
    background-image: url(Cardapio/hamburgueres-veganos-com-feijao-e-legumes.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;

}

.Linha3 {

    width: 100%;
    height: 100vh;
    background-image: url(Cardapio/varias-sobremesas-cobertas-com-biscoito.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;

}

.Linha4 {

    width: 100%;
    height: 100vh;
    background-image: url(Cardapio/refeicao-de-hamburguer-grelhado-com-batatas-fritas-e-ia-generativa-de-queijo.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;

}

.container {

    width: 1200px;

}


.Linha {
    width: 100%;
    height: 100vh;
    background-color: #F2F2F2;
    border-bottom: 1px solid #0D0D0D;
    display: flex;
    justify-content: center;
}





/*--------CARDS--------*/
.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 25px;
}

.card {
    margin-top: 20%;
    width: 280px;
    height: 350px;
    background-color: #F2F2F2;

    border-radius: 20px;
    text-align: center;
    align-items: center;

}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;

}
/*--------cards efeito--------*/

.card {
  position: relative; 
  overflow: hidden; 
 
}


.card-image {
  opacity: 1;
  transition: opacity 0.3s ease-in-out; 
  display: block;
  width: 100%; 
  height: auto; 
}

.card-price {
  font-size: 12px;
  position: absolute; 
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color: #F2F2F2; 
  color: #0D0D0D;
  padding: 10px;
  transition:  bottom 0.3s ease-in-out;
  font-family:sans-serif;
}
.card-price ul li{
    margin: 10px 0;
    text-align: left;
}
.card-price h1{
    font-size: 20px;
    padding-top: 0px;

}
.card-price h3 {
    font-size: 12px;
    padding-top: 5px;
}

.card:hover .card-image {
  opacity: 0.3;
}

.card:hover .card-price {
  bottom: 0;
}







/*----------RODAPE--------*/
footer {
    width: 100%;
    height: 100px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rodape {
    width: 400px;
    height: 100%;

}